// Temporary font import
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap');
@import 'bootstrap';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{font-family: 'Poppins', sans-serif;}
p{margin:0;}

@mixin ul-reset {
    margin:0;
    padding:0;
    list-style:none;
}

@mixin a-reset {
    text-decoration: none;
    &:hover, &:active,
    &:focus, &:visited{
        text-decoration: none;
    }
}