// Temporary font import
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import 'bootstrap';

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{font-family: 'Poppins', sans-serif;}
p{margin:0;}

.container{max-width: 1200px !important;}

// ———————————————————————————————————————————————— // 
// ———————————————————— MIXINS ———————————————————— // 
// ———————————————————————————————————————————————— //

@mixin ul-reset {
    margin:0;
    padding:0;
    list-style:none;
}

@mixin a-reset {
    text-decoration: none;
    &:hover, &:active,
    &:focus, &:visited{
        text-decoration: none;
    }
}

@mixin txt-details {
    color:$grey_darker;
    font-weight:300;
    font-size:.85rem;
}

@mixin h4-titles {
    font-size:1.25rem;
    line-height: 1.5;
}