// ———————————————————————— //
// ———————— COLORS ———————— //
// ———————————————————————— //

$light: #fefefe;
$dark: #0e0e0e;
$brand: #513e5e;
$accent: #22ad96;

$grey_light: #f8f8f8;
$grey_dark: #dedbd9;
$grey_darker: #696969;

$material: 0 10px 50px rgba($dark, .20);